/*
:root{
    --clr-dark: black;
    --clr-light: white;
    --clr-accent: red;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    
}

.item {
    width: 150px;
    height: 150px;
    background-color: indianred;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
}

.container {
    display: flex;
    /*flex-wrap: wrap;*/
    /*gap: 1em;*/

body{
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > *{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}

.header{
    background-color: chartreuse;
    height: 120px;
}

.footer{
    background-color: aqua;
    height: 80px;
}

.main{
    background-color: chocolate;
    height: 300px;
}

.side1{
    background-color: yellow;
}

.side2{
    background-color: pink;
}

@media all and (min-width: 800px) {
    .main{
        flex: 3;
    }
    .side1{
        order: 1;
    }
    .side2{
        order: 2;
    }
    .main{
        order: 2;
    }
    .footer{
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .side{
        flex: 1;
    }
    .side1{
        order: 1;
    }
    .side2{
        order: 3;
    }
    .main{
        order: 2;
    }
    .footer{
        order: 4;
    }
}